<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gogetters.letsgo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsGo"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.UserSearchActivity"></activity>
        <activity
            android:name=".activities.ProfileEditActivity" />
        <activity
            android:name=".activities.GameModeChooserActivity"
            android:label="@string/title_activity_game_mode_chooser"
            android:theme="@style/Theme.LetsGo.NoActionBar" />
        <activity android:name=".activities.FriendListActivity" />
        <activity
            android:name=".activities.TutorialActivity"
            android:label="@string/title_activity_tutorial" />
        <activity
            android:name=".activities.BluetoothActivity"
            android:exported="true" />
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".activities.OnlineGameActivity"
            android:label="@string/title_activity_onlineGame" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".activities.FirebaseUIActivity"
            android:label="@string/title_activity_firebaseui" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Chat related activities -->
        <!-- Lists the last messages of different users -->
        <activity android:name=".activities.ChatLastMessageActivity" /> <!-- Fetches users from DB to chat with -->
        <activity android:name=".activities.ChatNewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ChatLastMessageActivity" />
        </activity> <!-- Launches the chat with a specific user -->
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat" /> <!-- To store files (especially pictures) on the device -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>